/* 메인 컨테이너 스타일 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  /* padding: 10px; */
  background-color: #f9f9f9;
}

/* 오른쪽 위 로그인 링크 */
.login-link {
  align-self: flex-end;
  margin-right: 50px;
  margin-top : 30px;
}

.link-text {
  text-decoration: underline;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}

/* 메인 버튼 컨테이너 */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.main-button {
  width: 200px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.main-button .button-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* 관리자 모드 스타일 */
.admin-mode {
  margin-top: 5px;
}

.admin-link {
  text-decoration: underline;
  color: #ff6f61;
  font-size: 14px;
  cursor: pointer;
}
